<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-align-center">
    <div class="padding-15">
      <ion-button >Weekly</ion-button>
    </div>
    <div class="padding-15">
      <ion-button>Monthly</ion-button>
    </div>
    <div class="padding-15">
      <ion-button>Yearly</ion-button>
    </div>
  </div>
</ion-content>